root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4

[*.{asmdef,json,jsonc}]
indent_style = space
indent_size = 4

[*.{unity,prefab,asset,anim,controller,overridecontroller,mask,mixer,physicmaterial,physicsmaterial2d,lighting,playable,signal,spriteatlas,tilemap,scenesettings,mat,meta,shader,cginc,hlsl,glsl,compute,shadergraph,shadersubgraph}]
indent_style = space
indent_size = 2